.book-card{
    max-height: 400px;
    position: relative;
    overflow: hidden;
}
.book-card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 400px; 
    position: absolute;
}
.book-card > .book-desc{
    position: relative;
    color: white;
}
.related-container{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    gap:8px;
}
.related-card img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.related-card{
    position: relative;
    width: 600px;
    height: 300px;
    overflow: hidden;
    padding: 8px;
    

}
.book-container{
    padding:10px;
}
section p{
    font-size: 20px;
    font-weight: bold;
    padding:10px;
    border: gray soild 1px;
}
#back-btn{
    width:100px;
    height: 50px;
    margin: 0 auto;
  display: block;
  background-color: blue;
  border-radius: 8px;
  color:white;
  text-align: center;
  padding: 10px;
}
.back-btn{
    padding:10px;
}
.footer-container{
    display: flex;
    justify-content: center;
}