.reading-card-content{
    display: flex;
    flex-direction: row-reverse;
    border: black solid 1px;
    border-radius: 8px;
}
.reading-card-content img{
    max-width: 100%;
    height: 300px;
}
.page-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:8px;
    gap:10px;
}
#reading-list{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.reading-plan{
    padding-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:10px;
}
.reading-card-content a{
    text-decoration: none;
    padding:8px;
}
#profile{
    background-color: darkblue;
    color:white;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:10px;
}
.personal-name h2{
    font-size: 15px;
}
.footer-container{
    display: flex;
    justify-content: center;
}
.book-info{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding:10px;
}