
form button{
    background-color: red;
    color: white;
    border-radius: 8px;
    padding:8px;
}
button:hover{
    background-color: darkred;
    color: black;
    border-radius: 8px;
    padding:8px;
    transition: all 0.3 ease
}
.category-container{
    display: flex;
    flex-direction: row;
}
.book-container{
    border:black solid 1px;
    display: flex;
    flex-direction: row;
    padding: 8px;  
    gap:8px;
}
.book-container img{
    max-width: 100%;
    height: 300px;
}
#search-form{
    display: flex;
    flex-direction: row;
    padding:8px;
    gap:8px;
}
.book-wrap{
    display: flex;
    flex-direction: row;
    gap:10px;  
}