h1{
    font-size:20px
}
#p1{
    font-size: 20px; font-style: italic;
}
#head1{
    font-size: 50px; font-weight: bold; text-align: center;
}
#mainhead{
    font-size: 60px; text-align: center;
}
#head2{
    font-size: 45px; text-align: center;
}   
    .wings{
            width: 150px; height: auto;
    }
    .bluesky{
        width: 150px; height: auto; text-align: center; margin-right: 20px;
    }
.fa-brandsfa-instagram{
    color:black;
}
.fa-brandsfa-threads{
    color: black;
}

body {
    background-color: white; /* dark background */
    color:black; /* meth green text */
    font-family: monospace;
    margin: 0;
    padding: 20px;
}
header {
    background-color: #5C5C5C;
    padding: 20px;
    text-align: center;
}
.navbar{
    font-size: 20px; font-weight: bold;
}
.form-fieldset{ 
    width:300px;
    margin: 0 auto;
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
label, input{
    margin: 10px 0;
    width: 100%;
    text-align: center;
}
