
    <header class="header-container">
       
        
        <div class="breadcrumbs">
            <img src="/images/download (2).png" alt="logo" width="64" height="64">
            <a href="/">Home Page</a>
            <%if (pageTitle){%>
                <span>&gt;</span>
                <a href="<%-pageTitle%>"><%=pageTitle%></a>
            <% } %>
        </div>  
        
    </header>

